In [1]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

### DataFrame 구조
- data - index(raw) - column(column)

In [7]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [6]:
double_list = [
            [1000, '과자','2019-12-31','반품'],
            [2000, '음료', '2020-03-02', '정상'],
            [3000, '아이스크림', '2020-02-03','정상'],
            [1000,'과자','2019-12-31','반품']
            ]
pd.DataFrame(data=double_list)

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [11]:
double_colums = ['가격','종류','판매일자','반품여부']
df_saledays = pd.DataFrame(data=double_list, columns=double_colums)
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [12]:
type(df_saledays)

pandas.core.frame.DataFrame

### Series
- index -data

In [15]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
series_floats = pd.Series(data=single_data)
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [16]:
type(series_floats)

pandas.core.series.Series