In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\02-19\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\02-19\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
import pandas as pd

col_header = ['연도', '시도','행정구역','학제','학교수', '학생수', '학생_남','학생_여', '교직원수', '다문화학생수', '다문화_남', '다문화_여']

#01) 첫번째 sheet에 '2021-2022' 데이터 추출
sheet1 = pd.read_excel(io='../../datasets/경기도교육청_행정구역별_학제별_학급_학생_교원_20220401.xlsx', 
                   sheet_name='2021-2022',
                   usecols='A:E,P:R, BL, BW:BY', 
                   header=None,
                   names=col_header,
                   index_col = 0,
                   skiprows=11)

#02) 두번째 sheet에 '2015-2020' 데이터 추출
sheet2 = pd.read_excel(io='../../datasets/경기도교육청_행정구역별_학제별_학급_학생_교원_20220401.xlsx', 
                   sheet_name='2015-2020',
                   usecols='A:E,O:Q, AJ, AU:AW', 
                   header=None,
                   names=col_header,
                   index_col = 0,
                   skiprows=12)

In [4]:
#03) sheet 데이터 합치기
st = pd.concat([sheet1, sheet2])

In [5]:
#04) 소계 제거
result = st[(st['행정구역'] != "소계") & (st['학제'] != "소계")]

In [6]:
#전체행수
result.count()

시도        1862
행정구역      1862
학제        1862
학교수       1862
학생수       1862
학생_남      1862
학생_여      1862
교직원수      1862
다문화학생수    1862
다문화_남     1862
다문화_여     1862
dtype: int64

In [7]:
#특정 조건 데이터 보기
result[result['학제'] == '초등학교']['다문화학생수'].sum()

185660