## 감성 사전 의한 감성분석

In [1]:
import pandas as pd

### 감성사전 가져오기

In [13]:
df_positives = pd.read_csv('../../datasets/pos_pol_word.txt', delimiter='\t')
df_positives = df_positives[15:] # 감성사전에 필요없는 라인 삭제
df_positives[:3]

       출처
15    (-;
16   (^^)
17  (^-^)

In [7]:
df_negatives = pd.read_csv('../../datasets/neg_pol_word.txt', delimiter='\t')
df_negatives = df_negatives[15:] # 감성사전에 필요없는 라인 삭제
df_negatives[:3]

      출처
15    가난
16  가난뱅이
17  가난살이

### 문장에 점수 적용(긍/부정)

In [8]:
comment = '코로나19의 여파로 전 세계 교사들과 학생들 모두 혼란스러운 시기를 보내고 있습니다.어려움 속에서도 학생들을 위해 안간힘을 쓰고 있는 모든 선생님들에게, 응원과 박수를 함께 보냅니다.'

In [16]:
# 긍정 단어 포함 확인 
for positive_word in df_postives['출처']:
    if positive_word in comment:
        print('positive word in comment : {0}'.format(positive_word))
        
# 부정 단어 포함 확인 
for negatives_word in df_negatives['출처']:
    if negatives_word in comment:
        print('negatives word in comment : {0}'.format(negatives_word))

positive word in comment : 운
positive word in comment : 함께
negatives word in comment : 어려움
negatives word in comment : 해
negatives word in comment : 혼란스러운