In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

### DataFrame 구조
- data - index(raw) - column(column)

In [3]:
num_list = [10, 20, 30, 40, 50]
pd.DataFrame(data=num_list)

    0
0  10
1  20
2  30
3  40
4  50

In [4]:
double_list = [
            [1000, '과자','2019-12-31','반품'],
            [2000, '음료', '2020-03-02', '정상'],
            [3000, '아이스크림', '2020-02-03','정상'],
            [1000,'과자','2019-12-31','반품']
            ]
pd.DataFrame(data=double_list)

      0      1           2   3
0  1000     과자  2019-12-31  반품
1  2000     음료  2020-03-02  정상
2  3000  아이스크림  2020-02-03  정상
3  1000     과자  2019-12-31  반품

In [5]:
double_colums = ['가격','종류','판매일자','반품여부']
df_saledays = pd.DataFrame(data=double_list, columns=double_colums)
df_saledays

     가격     종류        판매일자 반품여부
0  1000     과자  2019-12-31   반품
1  2000     음료  2020-03-02   정상
2  3000  아이스크림  2020-02-03   정상
3  1000     과자  2019-12-31   반품

In [10]:
type(df_saledays)

pandas.core.frame.DataFrame

In [15]:
df_saledays.columns, type(df_saledays.columns), list(df_saledays.columns) # colums 정보 # 컬럼 type #컬렁명을 리스트로 반환

(Index(['가격', '종류', '판매일자', '반품여부'], dtype='object'),
 pandas.core.indexes.base.Index,
 ['가격', '종류', '판매일자', '반품여부'])

In [18]:
df_saledays.index # RangeIndex이면 for문 가능 # index : 행의 식별자

RangeIndex(start=0, stop=4, step=1)

In [20]:
df_saledays.values # 값만 출력

array([[1000, '과자', '2019-12-31', '반품'],
       [2000, '음료', '2020-03-02', '정상'],
       [3000, '아이스크림', '2020-02-03', '정상'],
       [1000, '과자', '2019-12-31', '반품']], dtype=object)

In [24]:
df_saledays.drop(columns=['종류', '판매일자'], inplace=True)  # 컬럼 삭제 #inplace=True 완전히 반영

In [25]:
df_saledays # 컬럼삭제를 했지만 값은 변화없음

     가격 반품여부
0  1000   반품
1  2000   정상
2  3000   정상
3  1000   반품

### Series
- index -data

In [7]:
single_data = [0.1, 0.2, 0.3, 0.4, 0.5]
series_floats = pd.Series(data=single_data)
series_floats

0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
dtype: float64

In [8]:
type(series_floats)

pandas.core.series.Series