### quest
- amount, Mileage 관계를 p-value 확인

In [41]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns
import pandas as pd
import scipy.stats as stats

In [42]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

#### 선정 변수: amount, Mileage 
- 분석 내용 : 금액에 따라 마일리지 변화가 있는가?
    - 귀무가설 : 금액에 따라 마일리지 변화가 없다.
    - 대립가설 : 금액에 따라 마일리지 변화가 있다.
- 분석결론 (기준:p-value 0.05) / P.value < 0.05 : 대립 참
    - 통계 결론 : 귀무가설 참, 상관계수 반비례관계
    - 사실 결론 : 금액에 따라 마일리지 변화가 없다.(statistic=-0.004146, pvalue=0.404010202657426)

In [43]:
df_TOCC[['amount','Mileage']].describe()

# count 
# mean : 연속형이라는 증거

              amount       Mileage
count   51304.000000  40509.000000
mean    93994.980021   1967.922412
std     15305.147334    436.707329
min     54603.000000    872.000000
25%     81900.000000   1646.000000
50%     96900.000000   1946.000000
75%     98400.000000   2263.000000
max    215700.000000   3803.000000

In [44]:
df_Mileage_amount = df_TOCC[['amount','Mileage']]
df_Mileage_amount[:2]

   amount  Mileage
0   96900   1862.0
1  102900   2532.0

In [45]:
df_Mileage_amount.isnull().sum()

amount         0
Mileage    10795
dtype: int64

In [46]:
df_Mileage_amount = df_Mileage_amount.dropna().copy()

In [47]:
df_Mileage_amount.corr()

           amount   Mileage
amount   1.000000 -0.004146
Mileage -0.004146  1.000000

In [48]:
stats.pearsonr(df_Mileage_amount['amount'],df_Mileage_amount['Mileage'] )

# statistic : 상관계수값 
# pvalue : 현재 대립이 참

PearsonRResult(statistic=-0.004146217018612766, pvalue=0.404010202657426)

#### 선정 변수: age, Mileage
- 분석 내용 : 나이에 따라서 마일리지 변화가 있는가?
    - 귀무가설 : 나이에 따라서 마일리지 변화가 없다.
    - 대립가설 : 나이에 따라서 마일리지 변화가 있다.
- 분석결론 (기준:p-value 0.05) / P.value < 0.05 : 대립 참
    - 통계 결론 : 대립가설 참, 상관계수 비례관계
    - 사실 결론 : 나이에 따라서 마일리지 변화가 올라간다.(statistic=0.97, pvalue=0.0)

In [49]:
df_TOCC[['age','Mileage']].describe()

# count 
# mean : 연속형이라는 증거

                age       Mileage
count  40509.000000  40509.000000
mean      46.608285   1967.922412
std       13.465977    436.707329
min       20.000000    872.000000
25%       37.000000   1646.000000
50%       46.000000   1946.000000
75%       56.000000   2263.000000
max      107.000000   3803.000000

In [50]:
df_age_Mileage = df_TOCC[['age','Mileage']]
df_age_Mileage[:2]

    age  Mileage
0  43.0   1862.0
1  62.0   2532.0

In [51]:
df_age_Mileage.isnull().sum()

age        10795
Mileage    10795
dtype: int64

In [52]:
df_age_Mileage = df_age_Mileage.dropna().copy()

In [53]:
df_age_Mileage.corr()

              age   Mileage
age      1.000000  0.973281
Mileage  0.973281  1.000000

In [54]:
stats.pearsonr(df_age_Mileage['age'],df_age_Mileage['Mileage'] )

# statistic : 상관계수값 
# pvalue : 현재 대립이 참

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)

In [55]:
stats.pearsonr(df_age_Mileage['Mileage'],df_age_Mileage['age'] )

# 순서가 바뀌어도 값은 동일

PearsonRResult(statistic=0.9732809346109912, pvalue=0.0)