## quest

In [2]:
%pip install wget

Requirement already satisfied: wget in c:\users\02-19\anaconda3\lib\site-packages (3.2)
Note: you may need to restart the kernel to use updated packages.

#### 링크를 통해 파일 가져와서 파일 저장

In [2]:
import wget

In [3]:
wget.download('https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt')

'ratings_train (1).txt'

In [5]:
import pandas as pd
df_naver_movie_comment = pd.read_csv('./ratings_train.txt', sep='\t')
df_naver_movie_comment[:5]

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [6]:
df_negative = df_naver_movie_comment.loc[df_naver_movie_comment['label'] == 0 ]
df_negative

              id                                           document  label
0        9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
5        5403919      막 걸음마 뗀 3세부터 초등학교 1학년생인 8살용영화.ㅋㅋㅋ...별반개도 아까움.      0
6        7797314                              원작의 긴장감을 제대로 살려내지못했다.      0
...          ...                                                ...    ...
149990   6373651                                       이걸 영화라고 찎었냐?      0
149992   9335962  공포나 재난영화가 아니라 아예 대놓고 비급 크리쳐개그물임ㅋㅋ 음악 완전 흥겹다ㅋ 5...      0
149995   6222902                                인간이 문제지.. 소는 뭔죄인가..      0
149997   9311800                    이게 뭐요? 한국인은 거들먹거리고 필리핀 혼혈은 착하다?      0
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[75173 rows x 3 columns]

In [7]:
df_positive = df_naver_movie_comment.loc[df_naver_movie_comment['label'] == 1 ]
df_positive

              id                                           document  label
1        3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1
8        7156791                             액션이 없는데도 재미 있는 몇안되는 영화      1
9        5912145      왜케 평점이 낮은건데? 꽤 볼만한데.. 헐리우드식 화려함에만 너무 길들여져 있나?      1
10       9008700                                   걍인피니트가짱이다.진짜짱이다♥      1
...          ...                                                ...    ...
149991   9492905  http://blog.naver.com/oroblast/220215679580 나쁜...      1
149993  10020916                 For Carl.칼 세이건으로 시작해서 칼 세이건으로 끝난다.      1
149994   9458520               디케이드 다음에 더블 다음에 오즈인데 더블은 조금밖에 안나오네요.      1
149996   8549745                                      평점이 너무 낮아서...      1
149998   2376369                        청춘 영화의 최고봉.방황과 우울했던 날들의 자화상      1

[74827 rows x 3 columns]

In [8]:
negative_list= list(df_negative['document'])

In [9]:
positive_list= list(df_positive['document'])

In [10]:
comment_list = negative_list + positive_list

### 형태소 분석기 통한 품사 분류

In [11]:
from mecab import MeCab
mecab = MeCab()

In [ ]:
mecab.pos(comment_list)