In [13]:
# %conda install pymongo

In [14]:
import pymongo as mg
import pandas as pd

In [15]:
mg.__version__

'3.12.0'

In [16]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [17]:
database = client['db_NHIS'] #Database 선택

In [18]:
collection = database['NSC2_BND'] # collection 선택

In [26]:
cursor = collection.find({})

In [27]:
list_BND = list(cursor) # casting

In [28]:
df_BND = pd.DataFrame(list_BND)

In [29]:
df_BND  # 파일 불러오기

                          _id  RN_INDI BTH_YYYY  DTH_YYYYMM     COD1     COD2
0    64d2fd0ca951d5cc8f83fd4c   294364   1921LE    200707.0  T08-T14  W00-W19
1    64d2fd0ca951d5cc8f83fd4d   646257   1921LE    200805.0  A15-A19      NaN
2    64d2fd0ca951d5cc8f83fd4e   733575   1921LE    201309.0      G30      NaN
3    64d2fd0ca951d5cc8f83fd4f   966199   1921LE    201409.0      J69      NaN
4    64d2fd0ca951d5cc8f83fd50   972598   1921LE    201205.0      C44      NaN
..                        ...      ...      ...         ...      ...      ...
995  64d2fd0ca951d5cc8f84012f  2057743     2015         NaN      NaN      NaN
996  64d2fd0ca951d5cc8f840130  2063541     2015         NaN      NaN      NaN
997  64d2fd0ca951d5cc8f840131  2070251     2015         NaN      NaN      NaN
998  64d2fd0ca951d5cc8f840132  2077125     2015         NaN      NaN      NaN
999  64d2fd0ca951d5cc8f840133  3000758     2015         NaN      NaN      NaN

[1000 rows x 6 columns]

In [30]:
df_BND.to_csv('./NSC2_BND.csv') # 동일폴더에 저장하기