In [2]:
import pandas as pd

#### csv 파일을 insert

In [5]:
df_BND = pd.read_csv('./NSC2_BND.csv')
df_BND.head(3)   # .head() 줄여셔 표현(원하는만큼만 읽힘)

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2
0,0,64d2fd0ca951d5cc8f83fd4c,294364,1921LE,200707.0,T08-T14,W00-W19
1,1,64d2fd0ca951d5cc8f83fd4d,646257,1921LE,200805.0,A15-A19,NaN
2,2,64d2fd0ca951d5cc8f83fd4e,733575,1921LE,201309.0,G30,NaN

### insertMany to Mongodb

In [7]:
import pymongo as mg

In [8]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [9]:
database = client['study_test'] #Database 선택
database

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test')

In [10]:
collection = database['collect_tests'] # collection 선택
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'study_test'), 'collect_tests')

In [12]:
data_list = df_BND.to_dict(orient='records') # casting, 디폴트값은 dict

In [14]:
type(data_list) #list 안에 해쉬맵이 들어간 모양

list

In [15]:
collection.insert_many(data_list)