In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_NHIS'] #Database 선택

In [4]:
collection = database['NSC2_BNC_V2_1'] # collection 선택

In [5]:
cursor = collection.find({})

In [6]:
list_BNC = list(cursor) # casting

In [7]:
df_BNC = pd.DataFrame(list_BNC)

In [8]:
df_BNC

,_id,STD_YYYY,RN_INDI,SEX,SGG,GAIBJA_TYPE,SMPL_TYPE_CD,CTRB_Q10,G1E_OBJ_YN,DSB_TYPE_CD,DSB_SVRT_CD_V2
0,64d3124df46b05eea4ac5ca8,2002,1433,1,29140,7,1,NaN,NaN,NaN,NaN
1,64d3124df46b05eea4ac5ca9,2003,1433,1,29140,7,1,NaN,NaN,NaN,NaN
2,64d3124df46b05eea4ac5caa,2004,1433,1,29140,7,1,NaN,NaN,NaN,NaN
3,64d3124df46b05eea4ac5cab,2005,1433,1,29140,7,1,NaN,NaN,NaN,NaN
4,64d3124df46b05eea4ac5cac,2006,1433,1,29140,7,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13022,64d3124ef46b05eea4ac8f86,2012,3000357,2,28237,6,4,NaN,NaN,NaN,NaN
13023,64d3124ef46b05eea4ac8f87,2013,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13024,64d3124ef46b05eea4ac8f88,2014,3000357,2,28245,2,4,6.0,NaN,NaN,NaN
13025,64d3124ef46b05eea4ac8f89,2015,3000357,2,28245,2,4,7.0,NaN,NaN,NaN
13026,64d3124ef46b05eea4ac8f8a,2015,3000758,1,41287,6,4,NaN,NaN,NaN,NaN

In [12]:
df_BNC.to_csv('./NSC2_BNC_V2_1.csv')