In [13]:
# %conda install pymongo

In [1]:
import pymongo as mg
import pandas as pd

In [2]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['study_data_analytics'] #Database 선택

In [4]:
collection = database['collect_update'] # collection 선택

In [6]:
cursor_data = collection.find({})

In [7]:
df_collect_update = pd.DataFrame(list(cursor_data))
df_collect_update[:2]

                        _id   name  age   city
0  65012a52608ceccbaa42e295  Alice   26  Seoul
1  65012a52608ceccbaa42e296    Bob   30  Busan

In [9]:
from datetime import datetime
df_collect_update['update']= datetime.now() # 현 날짜에 대해 컬럼 추가 
df_collect_update[:2]

                        _id   name  age   city                     update
0  65012a52608ceccbaa42e295  Alice   26  Seoul 2023-09-13 13:03:26.185789
1  65012a52608ceccbaa42e296    Bob   30  Busan 2023-09-13 13:03:26.185789

In [15]:
collection_new = database['collect_update_new'] # 컬랙션 생성
dict_collect_update= df_collect_update.to_dict(orient='records') #df를 디션러리로 변경
result = collection_new.insert_many(dict_collect_update) # 디션너리를 새로운 컬랙션에 추가
result

In [17]:
result.inserted_ids

[ObjectId('65012a52608ceccbaa42e295'),
 ObjectId('65012a52608ceccbaa42e296'),
 ObjectId('65012a52608ceccbaa42e297')]